/**************************************************/
/*                      MENUS                     */
/**************************************************/

ul.menu { 
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}

ul.topmenu {
    background-color: #8dbdd8;
}

ul.bottommenu {
    background-color: #ffffe0;
}

.menu li, .menu form {
    display: inline;
    padding: 10px;
}

.menu a, .menu button {
    margin: 0 7px 0 0;
    background-color: #f5f5f5;
    border: 1px solid #dedede;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;

    font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 12px;
    line-height: 130%;
    text-decoration: none;
    font-weight: bold;
    color: #565656;
    cursor: pointer;
    padding: 5px 10px 6px 7px;
}

.menu button, .action button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

/**************************************************/
/*                     TABLES                     */
/**************************************************/

table {
    font-family:arial;
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    font-size: 10pt;
    width: 100%;
    text-align: left;
}
table thead tr th, table tfoot tr th {
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    font-size: 10pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url(../images/table-bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table tbody td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table tbody tr.odd td {
    background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/sort-asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/sort-desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

td.actions {
    text-align: right;
}

/**************************************************/
/*                      DIFF                      */
/**************************************************/

td.diff {
    color: #dd0000;
    font-weight: bold;    
}

/**************************************************/
/*                     FORMS                      */
/**************************************************/

.form label {
    clear: left;
    text-align: right;
    vertical-align: middle;
    position: relative;
    float: left;
    font-size: 10pt;
    font-weight: bold;
    width: 15em;
    margin-right: 5px;
}

.form span.required {
    color: #D8000C;
    margin: 5px;
}

.form input {
    vertical-align: middle;
    float: left;
    padding: 5px;
    font-size: 12pt;
    width: 45em;
}

.form table input {
    width: 25em;
}

.form .checkboxSelect ul {
    float: left;
}

.form .checkboxSelect input, .form .checkboxSelect li label {
    width: auto;
    font-weight: normal;    
}

.helpText {
    clear: both;
    font-size: 10pt;
    margin-bottom: 10px;
}

ul.errorlist {
    list-style-type: none;
    margin: 0 30px 0 0;
    padding: 10px;
}

.formButtons {
    clear: both;
}

.errorlist li {
    float: left;
    border: 1px solid;
    margin: 0 10% 0 10%;
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/error.png);
}

/**************************************************/
/*                   MESSAGES                     */
/**************************************************/

ul.messages { 
    list-style-type: none;
    padding: 10px;
    width: auto;
}

.info, .success, .warning, .error {
    border: 1px solid;
    margin: 0 10% 0 10%;
    width: 80%;
    padding: 10px 10px 10px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(../images/info.png);
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url(../images/success.png);
}

.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url(../images/warning.png);
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url(../images/error.png);
}
