{% extends "tablebase.html" %}
{% block title %}Running Tasks{% endblock %}
{% block pagetitle %}Running Tasks{% endblock %}

{% if tasks %}
{% block tablehead %}
<th>Task ID</th>
<th>Task Type</th>
<th>Repository</th>
<th>Status</th>
<th>Started</th>
<th>Actions</th>
{% endblock tablehead %}

{% block tablebody %}
{% for task in tasks %}
  <tr class="{% cycle "odd" "even" %}">
    <td>{{ task.id }}</td>
    <td>{{ task.command }}</td>
    <td><a href="{% url sponge.views.repos.view repo_id=task.repo %}">{{ task.repo }}</a></td>
    <td>{{ task.status }}</td>
    <td>{{ task.started|date:"SHORT_DATETIME_FORMAT" }}</td>
    <td class="actions">
      {% if task.type == "sponge" or task.type == "pulp" %}
        <a href="{% url sponge.views.tasks.delete task_id=task.id %}">cancel</a>
      {% endif %}
    </td>
  </tr>
{% endfor %}
{% endblock tablebody %}
{% endif %}

